/Downloads/202-slit/build/
/Downloads/202-slit/202-slit-common/build/
/Downloads/202-slit/202-slit-client/build/
/Downloads/202-slit/202-slit-common/dist/
/Downloads/202-slit/dist/
/Downloads/202-slit/202-slit-client/dist/
/Downloads/202-slit/202-slit-ejb/build/
/Downloads/202-slit/202-slit-ejb/dist/
*/nbproject/private/
*/build/
*/nbbuild/
*/dist/
*/nbdist/
*/nbactions.xml
*/nb-configuration.xml
*SLITv2/SLITv2-ejb/dist/
*SLITv2-client/dist/
*SLITv2-common/build/
*SLITv2-common/nbproject/private/
*SLITv2-client/nbproject/private/
*SLITv2/nbproject/private/
*SLITv2/SLITv2-ejb/nbproject/private/
*SLITv2/build/
*SLITv2/dist/
*SLITv2-client/build/
*SLITv2-common/dist/
*SLITv2/SLITv2-ejb/build/
